/* Menu styles */

article {
    background-color: coral;
    flex: 4;
}

aside {
    background-color: yellow;
    flex: 1;
}

footer {
    background-color: crimson;
}

header {
    background-color: aqua;
}

nav {
    background-color: blueviolet;
    flex: 1;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 92.2vh;
}
