* {
    box-sizing: border-box;
    border: 1px solid black;
    flex: 0 0 0%; /* Flex reset */
}

body,
html {
    height: 100%; /* Make sure that all the screen height is used */
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    display: flex;
    flex: 1 1 0%;
}

header,
footer {
    align-items: center;
    flex: 0 0 70px;
}

aside,
nav {
    flex: 0 0 160px;
}

main > section {
    flex: 1 1 0%;
}

/* Makes the content centered */
header,
footer,
nav,
aside,
main > section {
    display: flex;
    justify-content: center;
}
